@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    background-image: url(./assets/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.contenedor {
    padding: 2.5rem;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3.5rem;
    color: #333;
}

.introduce-mensaje {
    font-size: 1.2rem;
    padding: .3rem;
}

input {
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    width: 90%;
    height: 3.2rem;
    font-size: 2.3rem;
    text-align: center;
}

button {
    width: 90%;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

#mensaje {
    color: #333;
    font-size: 1.5rem;
    margin: .8rem;
}

h4 {
    font-size: 1.8rem;
}

/* ventana modal */
.contenedor-modal {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
}

.modal {
    height: 400px;
    width: 450px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal img {
    margin: 1rem;
    height: 120px;
    width: 120px;
}

.titulo-modal {
    font-size: 3rem;
    padding: 1rem;
}

.mensaje-modal {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-jugar {
    margin-bottom: 1rem;
}

/* ESTILOS PARA DISPOSITIVOS MOVILES */
@media (max-width: 480px) {

    body {
        background-image: url(./assets/img/background.jpg);
        background-size: auto;
    }

    .contenedor {
        margin: 30% 20px;
        padding: 5px;
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
    }

    h1 {
        margin-bottom: 20px;
    }

    .introduce-mensaje {
        margin-bottom: 15px;
    }

    input {
        border-radius: 5px;
        outline: none;
        border: none;
        margin-bottom: 10px;
        width: 90%;
        height: 3.2rem;
        font-size: 2.3rem;
        text-align: center;
    }

    button {
        border-radius: 5px;
        font-size: 1.2rem;
    }

    #mensaje {
        margin-bottom: 15px;
    }

    /* ventana modal */
    .contenedor-modal {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        visibility: hidden;
    }

    .modal {
        margin: 30% 5%;
        padding: 5px;
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
    }

    .modal img {
        margin: 1rem;
        height: 120px;
        width: 120px;
    }

    .titulo-modal {
        font-size: 3rem;
        padding: 1rem;
    }

    .mensaje-modal {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .btn-jugar {
        margin-bottom: 1rem;
    }
}