@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    background-color: cadetblue;
}



h1 {
    color: #333;
}

input {
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#mensaje {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

/* Estilo para movil */
@media (max-width: 368px) {
    .contenedor {
        margin: 30% 20px;
        padding: 5px;
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
    }

    h1{
        margin-bottom: 20px;
    }

    .introduce-mensaje {
        margin-bottom: 15px;
    }

    input {
        border-radius: 5px;
        outline: none;
        border: none;
        margin-bottom: 10px;
        width: 90%;
        text-align: center;
    }

    button {
        border-radius: 5px;

    }

    #mensaje {
        margin-bottom: 15px;
    }
}